.self{
    background-color: rgba(255,255,255,0.05);
}
.content{
    padding-top: 10px;
    grid-area: text;
}
.photo img{
    height: 70px;

}
.photo{
    grid-area: photo;
}
.name {
    grid-area: name;
    color: white;
    text-decoration: none;
    font-size: 25px;
    margin-bottom: 10px;
    font-weight: 700;

}
.message{
    grid-template: 30px 1fr / 90px auto;
    display: grid;
    grid-template-areas: "photo name"
                        "photo text";
    padding: 5px;
    margin-bottom: 10px;
    width: 99%;
    font-family: Arial;
    font-size: 20px;
}