.description{
    padding-bottom: 55px;
}
.dim{
    color: #646464;
}
.item{
    margin-bottom: 10px;
}
.info{
}
.button{
    left: 3px;
    position: absolute;
    bottom: 8px;
    margin-top: 20px;
    width: 99%;
    height: 50px;
    outline: none;
    border: none;
    font-size: 30px;
    color: #6b6b6b;
    background-color: #1d1d1d;
    border-radius: 10px;
}
.button:hover{
    background-color: rgba(255,255,255,0.1);
}