.nav {
    grid-area:nav;
    font-size: 30px;
    font-family: Arial;
}
.item{
    padding-left: 10px;
    height: 50px;
    width: 150px;
    display: flex;
    align-items: center;
    color: rgba(255,255,255,0.4);
    text-decoration: none;
}
.item:hover{
    border-radius: 5px;
    background: #3c3c3c;
}
.active{
    color: #ffffff;
}