.page{
    font-size: 20px;
    padding: 5px 10px 5px 5px;
}
.page:hover{
    background-color: rgba(255,255,255,0.1);
}
.list{
    color: #888888;
    width: auto;
    text-align: center;
}
.selected{
    color: white;
    font-size: 24px;
    font-weight: 700;
}