.form{
    position: relative;
    padding: 20px;
    background-color: #1d1d1d;
    line-height: 40px;
    width: 600px;
    margin: 10px auto 40px auto;
}
.login, .password{
    color: white;
    display: flex;
    justify-content: space-between;
}
.login input, .password input{
    /*border: red 2px solid;*/

    outline: none;
    min-width: 50%;
    width: 100%;
    font-size: 30px;
    margin-top: 10px;
    height: 30px;
}
.checkBox{
    left: 20px;
    bottom: 17px;
    position: absolute;
    color: white;
}
.button{
    display: block;
    margin: 20px auto 0 auto;
    border: none;
    width: 100px;
    height: 30px;
}
.button:hover{
    background-color: #b3b3b3;
}
.preloader{
    width: 100px;
    margin: 100px auto 100px auto;
}
.warning{
    position: relative;
    top: -7px;
    color: #E2574C;
    padding-left: 5px;
    font-size: 30px;
}
.image{
    height: 30px;
}
.warningBlock{
    margin: 0 auto;
    width: 370px;
}