.dialogs{
    max-width: 1500px;
    background-color: #3c3c3c;
    padding: 20px;
    display: grid;
    column-gap: 10px;
    grid-template-columns: 200px minmax(200px, auto);
    grid-template-rows: auto 50px;
    grid-template-areas: "sidebar content"
                         "sidebar input";
}
.sidebar{
    padding-right: 10px;
    grid-area: sidebar;
    overflow-y: auto;
    max-height: 500px;
}
