.dialogs{
    margin-right: 150px;
    background-color: #3c3c3c;
    padding: 20px;
    display: grid;
    column-gap: 10px;
    grid-template-columns: 200px minmax(200px, auto);
    grid-template-areas: "sidebar wrapper";
}
.sidebar{
    height: 75vh;
    padding-right: 10px;
    grid-area: sidebar;
    overflow-y: auto;
}
.wrapper{
    grid-area: wrapper;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-content: stretch;
    min-height: 100%;
}
